<!DOCTYPE html>
<html>
          <head>
                 <title>Basic Page Layout</title> 
                 <style>
                     body{
                         background: antiquewhite;

                         margin: 0;
                         padding: 10px;
                         font-family: Arial, Helvetica, sans-serif;
                         font-size: 16px;
                         font-style: italic;
                     }
                     


                 </style>     
          </head>

          <body>
<!--last updated on october 23rd by manish-->


                 <h1 id="top">HELLO,WORLD</h1>

                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis delectus quo eaque, magni ex, ad, laborum reprehenderit quos autem qui ipsa. Dignissimos eum, dolores quasi repellat eaque illo sunt minima!</p>
<table border="1"cellpadding="5" cellspacing="5" width="100%">
    <tr>
        <th>First</th>
        <th>Last</th>
        <th>Telephone</th>
        <th>Email</th>
    </tr>
    <tr>
        <td><a href="http://www.google.com/"
            target="blank"> Column 1 content</a></td>
        <td><a href="https://consent.yahoo.com/collectConsent?sessionId=3_cc-session_5104ea12-0067-4dc9-8383-45cb67cfc28f&lang=de-DE&inline=false"
            target="blank"> column 2 content</a></td>
        <td>column 3 content</td>
        <td>Column 4 content</td>
    </tr>
    <tr>
        <td>column 1 content</td>
        <td>column 2 content</td>
        <td>column 3 content</td>
        <td>column 4 content</td>
         </tr>
         <tr>
                <td rowspan="2">column 1 content</td>
                <td>column 2 content</td>
                <td>column 3 content</td>
                <td>column 4 content</td>
                 </tr>
                 <tr>
                        
                        <td>column 2 content</td>
                        <td colspan="2">column 3 content</td>
                        
                         </tr>
</table>

   <P> <a href="#heading-3">jump to third header</a></P>





   <img src="./img/galaxy.jpg"widht="100"height="100" alt="this is picture of Galaxy" style="float: left;border: 1px solid black;margin: 0px 10px 0px  0px;">
              <p>Lorem<small> Ipsum </small>is <sub>simply </sub>dummy text of the printing and typesetting industry.<b>Lorem Ipsum</b> has been the industry's <sup>standard </sup>dummy text <mark>ever </mark>since<del> the</del> 1500s,<i> when </i>an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, 
remaining essentially <em>unchanged</em>.It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

</P>
<ul type="square">
    <li>topic no 1</li>
    <li>topic no 2
          <ol type="I">
              <li>dzjddjdd tzdffddd jztrztr</li>
              <li>hkjkjhkhg kjhjkhkjhkj khhjhj</li>
              <li>dshjds dshjfds  dshjfdshj</li>
          </ol></li>
    <li>topic no 3</li>
</ul>
<ol type="I">
    <li>dzjddjdd tzdffddd jztrztr</li>
    <li>hkjkjhkhg kjhjkhkjhkj khhjhj</li>
    <li>dshjds dshjfds  dshjfdshj</li>
</ol>
<marquee><strong>Manish</strong></marquee>
<p><a href="https://www.google.com">GOOGLE</a></P>
<h2>Here is my subheadhing</h2>
<p>Lorem Ipsum is <strong> simply dummy text of the printing</strong> and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, 
remaining essentially unchanged.It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</P>
<h3 id="heading-3">Here is my subheading</h3>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, 
remaining essentially unchanged.It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</P>
<a href="#top">back to top</a>


          </body>
</html>