.tab{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20px;
}
.tab li{
    float: left;

    margin-right: 20px;
    background-color: aqua;
    min-width: 100px;
    text-align: center;
}
.tab li a{
    text-decoration: none;
}
.content{
    background-color: lightseagreen;
    display: none;
}
.active{
    display: block;
}
#cont2{
    background: orange;
}
#cont3{
    background: red;
}